# **Pirate Pain  AN2DL Challenge 1**

## üåê **Google Drive Connection or local mount**

In [103]:
import os
isColab = False

try:
    from google.colab import drive
    drive.mount("/gdrive")
    current_dir = "/gdrive/My\\ Drive/Colab\\ Notebooks/[2025-2026]\\ AN2DL/Lecture\\ 5"
    print("Running in Google Colab. Google Drive mounted.")
    %cd $current_dir
    isColab = True
except ImportError:
    print("Running in a local environment. Skipping Google Drive mount.")
    current_dir = r"G:\Il mio Drive\Colab Notebooks\[2025-2026] AN2DL\AN2DL-challenge-1"
    if not os.path.isdir(current_dir):
        current_dir = os.getcwd()
    print(f"Current directory set to: {current_dir}")

os.chdir(current_dir)
print(f"Changed directory to: {current_dir}")

Running in a local environment. Skipping Google Drive mount.
Current directory set to: G:\Il mio Drive\Colab Notebooks\[2025-2026] AN2DL\AN2DL-challenge-1
Changed directory to: G:\Il mio Drive\Colab Notebooks\[2025-2026] AN2DL\AN2DL-challenge-1

## ‚öôÔ∏è **Libraries Import**

In [104]:
# Set seed for reproducibility
SEED = 42

# Import necessary libraries
import os

# Set environment variables before importing modules
os.environ['PYTHONHASHSEED'] = str(SEED)
os.environ['MPLCONFIGDIR'] = os.getcwd() + '/configs/'

# Suppress warnings
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=Warning)

# Import necessary modules
import logging
import random
import numpy as np

# Set seeds for random number generators in NumPy and Python
np.random.seed(SEED)
random.seed(SEED)

# Import PyTorch
import torch
torch.manual_seed(SEED)
from torch import nn
# from torchsummary import summary
from torch.utils.tensorboard import SummaryWriter
from torch.utils.data import TensorDataset, DataLoader
logs_dir = "tensorboard"
if isColab:
    !pkill -f tensorboard
%load_ext tensorboard
if isColab:
    !mkdir -p models

if torch.cuda.is_available():
    device = torch.device("cuda")
    torch.cuda.manual_seed_all(SEED)
    torch.backends.cudnn.benchmark = True
else:
    device = torch.device("cpu")

print(f"PyTorch version: {torch.__version__}")
print(f"Device: {device}")

# Import other libraries
import copy
import shutil
from itertools import product
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, confusion_matrix
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Configure plot display settings
sns.set(font_scale=1.4)
sns.set_style('white')
plt.rc('font', size=14)
%matplotlib inline

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard
PyTorch version: 2.9.0+cu130
Device: cuda

## ‚è≥ **Data Downloading**

In [105]:
import os
import zipfile
from kaggle.api.kaggle_api_extended import KaggleApi

# --- 1. Impostazioni ---
competition_name = 'an2dl2526c1'
dataset_path = 'dataset'
train_file = 'pirate_pain_train.csv'
test_file = 'pirate_pain_test.csv'
labels_file = 'pirate_pain_train_labels.csv'
sample_submission_file = 'sample_submission.csv'

# --- 2. Autenticazione e Download ---
# Inizializza l'API di Kaggle
# L'autenticazione avviene automaticamente se 'kaggle.json' √® in C:\\Users\\Bert0ns\\.kaggle\\
api = KaggleApi()
api.authenticate()

# Controlla se il dataset √® gi√† stato scaricato ed estratto
if not os.path.exists(os.path.join(dataset_path, train_file)):
    print(f"Download del dataset dalla competizione '{competition_name}'...")

    # Crea la directory di destinazione se non esiste
    os.makedirs(dataset_path, exist_ok=True)

    # Scarica i file della competizione nella cartella 'dataset'
    api.competition_download_files(competition_name, path=dataset_path)

    # Estrai i file dall'archivio zip
    zip_path = os.path.join(dataset_path, f'{competition_name}.zip')
    if os.path.exists(zip_path):
        print(f"Estrazione dei file da '{zip_path}'...")
        with zipfile.ZipFile(zip_path, 'r') as zip_ref:
            zip_ref.extractall(dataset_path)
        # Rimuovi il file zip dopo l'estrazione
        os.remove(zip_path)
        print("Estrazione completata e file zip rimosso.")
    else:
        print("ATTENZIONE: File zip non trovato. Il download potrebbe non essere riuscito.")
else:
    print("Il dataset √® gi√† presente nella cartella 'dataset'. Download saltato.")

Il dataset √® gi√† presente nella cartella 'dataset'. Download saltato.

## üîé **Exploration and Data Analysis**

In [106]:
import pandas as pd

# Load the datasets
train_df = pd.read_csv(os.path.join(dataset_path, train_file))
test_df = pd.read_csv(os.path.join(dataset_path, test_file))
labels_df = pd.read_csv(os.path.join(dataset_path, labels_file))
sample_submission_df = pd.read_csv(os.path.join(dataset_path, sample_submission_file))

In [107]:
print(f"DataFrame shape: {train_df.shape}")
train_df.head(300)

DataFrame shape: (105760, 40)

,sample_index,time,pain_survey_1,pain_survey_2,pain_survey_3,pain_survey_4,n_legs,n_hands,n_eyes,joint_00,...,joint_21,joint_22,joint_23,joint_24,joint_25,joint_26,joint_27,joint_28,joint_29,joint_30
0,0,0,2,0,2,1,two,two,two,1.094705,...,3.499558e-06,1.945042e-06,3.999558e-06,1.153299e-05,3.805930e-06,0.017592,0.013508,0.026798,0.027815,0.5
1,0,1,2,2,2,2,two,two,two,1.135183,...,3.976952e-07,6.765107e-07,6.019627e-06,4.643774e-08,0.000000e+00,0.013352,0.000000,0.013377,0.013716,0.5
2,0,2,2,0,2,2,two,two,two,1.080745,...,1.533820e-07,1.698525e-07,1.446051e-06,2.424536e-06,2.513519e-06,0.016225,0.008110,0.024097,0.023105,0.5
3,0,3,2,2,2,2,two,two,two,0.938017,...,1.006865e-05,5.511079e-07,1.847597e-06,5.432416e-08,0.000000e+00,0.011832,0.007450,0.028613,0.024648,0.5
4,0,4,2,2,2,2,two,two,two,1.090185,...,4.437266e-06,1.735459e-07,1.552722e-06,5.825366e-08,7.044832e-06,0.005360,0.002532,0.033026,0.025328,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1,135,2,2,2,2,two,two,two,1.224606,...,0.000000e+00,1.457226e-06,1.978559e-06,1.933064e-06,6.102752e-06,0.037370,0.071729,0.085482,0.043072,0.5
296,1,136,2,2,2,2,two,two,two,1.224941,...,9.480348e-07,3.483824e-07,2.366589e-06,2.745167e-07,1.134226e-05,0.030967,0.086378,0.090824,0.054885,0.5
297,1,137,2,1,2,2,two,two,two,1.252871,...,3.317316e-07,2.317636e-06,1.235017e-07,4.266181e-07,1.601467e-06,0.015595,0.068413,0.132164,0.073057,0.5
298,1,138,2,2,1,2,two,two,two,1.251569,...,3.093716e-07,3.494299e-07,1.192149e-07,2.709641e-07,9.290970e-07,0.044671,0.119201,0.130871,0.061973,0.5
299,1,139,2,2,0,2,two,two,two,1.267141,...,1.013480e-06,5.552671e-07,3.806584e-06,2.691176e-07,6.184323e-06,0.018934,0.075922,0.170899,0.079293,0.5

In [108]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105760 entries, 0 to 105759
Data columns (total 40 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   sample_index   105760 non-null  int64
 1   time           105760 non-null  int64
 2   pain_survey_1  105760 non-null  int64
 3   pain_survey_2  105760 non-null  int64
 4   pain_survey_3  105760 non-null  int64
 5   pain_survey_4  105760 non-null  int64
 6   n_legs         105760 non-null  object
 7   n_hands        105760 non-null  object
 8   n_eyes         105760 non-null  object
 9   joint_00       105760 non-null  float64
 10  joint_01       105760 non-null  float64
 11  joint_02       105760 non-null  float64
 12  joint_03       105760 non-null  float64
 13  joint_04       105760 non-null  float64
 14  joint_05       105760 non-null  float64
 15  joint_06       105760 non-null  float64
 16  joint_07       105760 non-null  float64
 17  joint_08       105760 non-null  float64
 18  joint_09       105760 non-null  float64
 19  joint_10       105760 non-null  float64
 20  joint_11       105760 non-null  float64
 21  joint_12       105760 non-null  float64
 22  joint_13       105760 non-null  float64
 23  joint_14       105760 non-null  float64
 24  joint_15       105760 non-null  float64
 25  joint_16       105760 non-null  float64
 26  joint_17       105760 non-null  float64
 27  joint_18       105760 non-null  float64
 28  joint_19       105760 non-null  float64
 29  joint_20       105760 non-null  float64
 30  joint_21       105760 non-null  float64
 31  joint_22       105760 non-null  float64
 32  joint_23       105760 non-null  float64
 33  joint_24       105760 non-null  float64
 34  joint_25       105760 non-null  float64
 35  joint_26       105760 non-null  float64
 36  joint_27       105760 non-null  float64
 37  joint_28       105760 non-null  float64
 38  joint_29       105760 non-null  float64
 39  joint_30       105760 non-null  float64
dtypes: float64(31), int64(6), object(3)
memory usage: 32.3+ MB

In [109]:
print(f"DataFrame shape: {test_df.shape}")
test_df.head()

DataFrame shape: (211840, 40)

,sample_index,time,pain_survey_1,pain_survey_2,pain_survey_3,pain_survey_4,n_legs,n_hands,n_eyes,joint_00,...,joint_21,joint_22,joint_23,joint_24,joint_25,joint_26,joint_27,joint_28,joint_29,joint_30
0,0,0,2,2,2,2,two,two,two,0.842535,...,0.000003,0.000004,0.000003,0.000003,0.000068,0.019372,0.066324,0.022228,0.013576,0.5
1,0,1,2,2,2,2,two,two,two,0.898836,...,0.000003,0.000004,0.000004,0.000003,0.000029,0.069747,0.080417,0.023650,0.038793,0.5
2,0,2,2,2,2,2,two,two,two,0.957765,...,0.000006,0.000004,0.000009,0.000004,0.000008,0.054968,0.058811,0.027023,0.054202,0.5
3,0,3,1,2,2,2,two,two,two,0.832596,...,0.000005,0.000004,0.000003,0.000004,0.000015,0.048695,0.047128,0.016151,0.024983,0.5
4,0,4,2,2,2,0,two,two,two,0.805971,...,0.000006,0.000004,0.000003,0.000003,0.000008,0.019762,0.031116,0.015618,0.017931,0.5

In [110]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211840 entries, 0 to 211839
Data columns (total 40 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   sample_index   211840 non-null  int64
 1   time           211840 non-null  int64
 2   pain_survey_1  211840 non-null  int64
 3   pain_survey_2  211840 non-null  int64
 4   pain_survey_3  211840 non-null  int64
 5   pain_survey_4  211840 non-null  int64
 6   n_legs         211840 non-null  object
 7   n_hands        211840 non-null  object
 8   n_eyes         211840 non-null  object
 9   joint_00       211840 non-null  float64
 10  joint_01       211840 non-null  float64
 11  joint_02       211840 non-null  float64
 12  joint_03       211840 non-null  float64
 13  joint_04       211840 non-null  float64
 14  joint_05       211840 non-null  float64
 15  joint_06       211840 non-null  float64
 16  joint_07       211840 non-null  float64
 17  joint_08       211840 non-null  float64
 18  joint_09       211840 non-null  float64
 19  joint_10       211840 non-null  float64
 20  joint_11       211840 non-null  float64
 21  joint_12       211840 non-null  float64
 22  joint_13       211840 non-null  float64
 23  joint_14       211840 non-null  float64
 24  joint_15       211840 non-null  float64
 25  joint_16       211840 non-null  float64
 26  joint_17       211840 non-null  float64
 27  joint_18       211840 non-null  float64
 28  joint_19       211840 non-null  float64
 29  joint_20       211840 non-null  float64
 30  joint_21       211840 non-null  float64
 31  joint_22       211840 non-null  float64
 32  joint_23       211840 non-null  float64
 33  joint_24       211840 non-null  float64
 34  joint_25       211840 non-null  float64
 35  joint_26       211840 non-null  float64
 36  joint_27       211840 non-null  float64
 37  joint_28       211840 non-null  float64
 38  joint_29       211840 non-null  float64
 39  joint_30       211840 non-null  float64
dtypes: float64(31), int64(6), object(3)
memory usage: 64.6+ MB

In [111]:
print(f"DataFrame shape: {labels_df.shape}")
labels_df.head()

DataFrame shape: (661, 2)

   sample_index     label
0             0   no_pain
1             1   no_pain
2             2  low_pain
3             3   no_pain
4             4   no_pain

In [112]:
labels_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 661 entries, 0 to 660
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sample_index  661 non-null    int64
 1   label         661 non-null    object
dtypes: int64(1), object(1)
memory usage: 10.5+ KB

In [113]:
print(f"DataFrame shape: {sample_submission_df.shape}")
sample_submission_df.head()

DataFrame shape: (1324, 2)

   sample_index      label
0             0  high_pain
1             1    no_pain
2             2    no_pain
3             3   low_pain
4             4  high_pain

In [114]:
sample_submission_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1324 entries, 0 to 1323
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sample_index  1324 non-null   int64
 1   label         1324 non-null   object
dtypes: int64(1), object(1)
memory usage: 20.8+ KB

In [115]:
# Convert data types from float64 to float32 to save memory
train_df[train_df.select_dtypes(include=['float64']).columns] = train_df.select_dtypes(include=['float64']).astype('float32')
test_df[test_df.select_dtypes(include=['float64']).columns] = test_df.select_dtypes(include=['float64']).astype('float32')
labels_df[labels_df.select_dtypes(include=['float64']).columns] = labels_df.select_dtypes(include=['float64']).astype('float32')

# Convert int64 to int32
train_df[train_df.select_dtypes(include=['int64']).columns] = train_df.select_dtypes(include=['int64']).astype('int32')
test_df[test_df.select_dtypes(include=['int64']).columns] = test_df.select_dtypes(include=['int64']).astype('int32')
labels_df[labels_df.select_dtypes(include=['int64']).columns] = labels_df.select_dtypes(include=['int64']).astype('int32')

# Convert pain surveys to int8
train_df['pain_survey_1'] = train_df['pain_survey_1'].astype('int8')
train_df['pain_survey_2'] = train_df['pain_survey_2'].astype('int8')
train_df['pain_survey_3'] = train_df['pain_survey_3'].astype('int8')
train_df['pain_survey_4'] = train_df['pain_survey_4'].astype('int8')

# Convert sample_index to int16
train_df['sample_index'] = train_df['sample_index'].astype('int16')
test_df['sample_index'] = test_df['sample_index'].astype('int16')
labels_df['sample_index'] = labels_df['sample_index'].astype('int16')

In [118]:
print("train:\n")
train_df.info()
print("\ntest:\n")
test_df.info()
print("\nlabels:\n")
labels_df.info()

train:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105760 entries, 0 to 105759
Data columns (total 40 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   sample_index   105760 non-null  int16
 1   time           105760 non-null  int32
 2   pain_survey_1  105760 non-null  int8
 3   pain_survey_2  105760 non-null  int8
 4   pain_survey_3  105760 non-null  int8
 5   pain_survey_4  105760 non-null  int8
 6   n_legs         105760 non-null  object
 7   n_hands        105760 non-null  object
 8   n_eyes         105760 non-null  object
 9   joint_00       105760 non-null  float32
 10  joint_01       105760 non-null  float32
 11  joint_02       105760 non-null  float32
 12  joint_03       105760 non-null  float32
 13  joint_04       105760 non-null  float32
 14  joint_05       105760 non-null  float32
 15  joint_06       105760 non-null  float32
 16  joint_07       105760 non-null  float32
 17  joint_08       105760 non-null  float32
 18  joint_09       105760 non-null  float32
 19  joint_10       105760 non-null  float32
 20  joint_11       105760 non-null  float32
 21  joint_12       105760 non-null  float32
 22  joint_13       105760 non-null  float32
 23  joint_14       105760 non-null  float32
 24  joint_15       105760 non-null  float32
 25  joint_16       105760 non-null  float32
 26  joint_17       105760 non-null  float32
 27  joint_18       105760 non-null  float32
 28  joint_19       105760 non-null  float32
 29  joint_20       105760 non-null  float32
 30  joint_21       105760 non-null  float32
 31  joint_22       105760 non-null  float32
 32  joint_23       105760 non-null  float32
 33  joint_24       105760 non-null  float32
 34  joint_25       105760 non-null  float32
 35  joint_26       105760 non-null  float32
 36  joint_27       105760 non-null  float32
 37  joint_28       105760 non-null  float32
 38  joint_29       105760 non-null  float32
 39  joint_30       105760 non-null  float32
dtypes: float32(31), int16(1), int32(1), int8(4), object(3)
memory usage: 15.9+ MB

test:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211840 entries, 0 to 211839
Data columns (total 40 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   sample_index   211840 non-null  int16
 1   time           211840 non-null  int32
 2   pain_survey_1  211840 non-null  int32
 3   pain_survey_2  211840 non-null  int32
 4   pain_survey_3  211840 non-null  int32
 5   pain_survey_4  211840 non-null  int32
 6   n_legs         211840 non-null  object
 7   n_hands        211840 non-null  object
 8   n_eyes         211840 non-null  object
 9   joint_00       211840 non-null  float32
 10  joint_01       211840 non-null  float32
 11  joint_02       211840 non-null  float32
 12  joint_03       211840 non-null  float32
 13  joint_04       211840 non-null  float32
 14  joint_05       211840 non-null  float32
 15  joint_06       211840 non-null  float32
 16  joint_07       211840 non-null  float32
 17  joint_08       211840 non-null  float32
 18  joint_09       211840 non-null  float32
 19  joint_10       211840 non-null  float32
 20  joint_11       211840 non-null  float32
 21  joint_12       211840 non-null  float32
 22  joint_13       211840 non-null  float32
 23  joint_14       211840 non-null  float32
 24  joint_15       211840 non-null  float32
 25  joint_16       211840 non-null  float32
 26  joint_17       211840 non-null  float32
 27  joint_18       211840 non-null  float32
 28  joint_19       211840 non-null  float32
 29  joint_20       211840 non-null  float32
 30  joint_21       211840 non-null  float32
 31  joint_22       211840 non-null  float32
 32  joint_23       211840 non-null  float32
 33  joint_24       211840 non-null  float32
 34  joint_25       211840 non-null  float32
 35  joint_26       211840 non-null  float32
 36  joint_27       211840 non-null  float32
 37  joint_28       211840 non-null  float32
 38  joint_29       211840 non-null  float32
 39  joint_30       211840 non-null  float32
dtypes: float32(31), int16(1), int32(5), object(3)
memory usage: 34.3+ MB

labels:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 661 entries, 0 to 660
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sample_index  661 non-null    int16
 1   label         661 non-null    object
dtypes: int16(1), object(1)
memory usage: 6.6+ KB